# Puerto del servidor
PORT=3001

# Diagramas DB (Base de datos de diagramas AlwaysData)
DIAGRAMAS_HOST=mysql-diagramas.alwaysdata.net
DIAGRAMAS_USER=tu_usuario
DIAGRAMAS_PASSWORD=tu_password
DIAGRAMAS_DB=diagramas_flow

# AlwaysData (Base de datos de Control)
AD_HOST=mysql-skillstalkme.alwaysdata.net
AD_USER=tu_usuario
AD_PASSWORD=tu_password
AD_DBNAME=skillstalkme_db

# Base de Datos 1
DB1_HOST=tu-host-rds.amazonaws.com
DB1_USER=tu_usuario
DB1_PASSWORD=tu_password
DB1_NAME=cons_rr_ss

# Base de Datos 2
DB2_HOST=tu-host-rds.amazonaws.com
DB2_USER=tu_usuario
DB2_PASSWORD=tu_password
DB2_NAME=cons_rr_ss

# Base de Datos 3
DB3_HOST=tu-host-rds.amazonaws.com
DB3_USER=tu_usuario
DB3_PASSWORD=tu_password
DB3_NAME=cons_rr_ss

# Base de Datos 4
DB4_HOST=tu-host-rds.amazonaws.com
DB4_USER=tu_usuario
DB4_PASSWORD=tu_password
DB4_NAME=cons_rr_ss

# Base de Datos MDD
DB5_HOST=tu-host-rds.amazonaws.com
DB5_USER=tu_usuario
DB5_PASSWORD=tu_password
DB5_NAME=cons_rr_ss

# Base de Datos FS1
DB6_HOST=tu-host-rds.amazonaws.com
DB6_USER=tu_usuario
DB6_PASSWORD=tu_password
DB6_NAME=ficohsa

# Base de Datos FS2
DB7_HOST=tu-host-rds.amazonaws.com
DB7_USER=tu_usuario
DB7_PASSWORD=tu_password
DB7_NAME=ficohsa

# Base de Datos FS3
DB8_HOST=tu-host-rds.amazonaws.com
DB8_USER=tu_usuario
DB8_PASSWORD=tu_password
DB8_NAME=ficohsa
